// Greens
$color-primary: #008170;
$color-skyblue: #00b9df;
$color-red: #ce0000;
$color-white: white;
$color-bg: #e0e0e0;
$color-secondary: #1f1f1f;

// Grays
$color-gray-1: #111111;
$color-gray-2: #353535;
$color-gray-3: #4a4a4a;
$color-gray-4: #5f5d5d;
$color-gray-5: #6b7280;
$color-gray-6: #808080;
$color-gray-7: #cecece;
$color-gray-8: #efefef;
$color-gray-9: #cfd3d7;
$color-gray-10: #dadada;
