.ts-gap {
  &-20 {
    gap: 1.25rem;
  }
}

.ts-fs {
  &-40 {
    font-size: clamp(2rem, 3.5vw, 2.5rem);
  }
  &-35 {
    font-size: clamp(1.9rem, 3.2vw, 2.1875rem);
  }
  &-30 {
    font-size: clamp(1.6rem, 2.8vw, 1.875rem);
  }
  &-22 {
    font-size: clamp(1.1rem, 2.3vw, 1.375rem);
  }
}
