.ts-gap {
  &-20 {
    gap: 1.25rem;
  }
}

.ts-fs {
  &-40 {
    font-size: clamp(1.8rem, 3.5vw, 2.5rem);
  }
  &-35 {
    font-size: clamp(1.9rem, 3.2vw, 2.1875rem);
  }
  &-30 {
    font-size: clamp(1.6rem, 2.8vw, 1.875rem);
  }
  &-22 {
    font-size: clamp(1.2rem, 2.3vw, 1.375rem);
  }
  &-20 {
    font-size: clamp(1.1rem, 2.1vw, 1.25rem);
  }
  &-18 {
    font-size: clamp(1.05rem, 2vw, 1.125rem);
  }
}

.btn-link {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-primary;
  }
}
