.ts-gap {
  &-20 {
    gap: 1.25rem;
  }
}

.ts-fs {
  &-40 {
    font-size: 2.5rem;
  }
  &-35 {
    font-size: 2.1875rem;
  }
  &-30 {
    font-size: 1.875rem;
  }
  &-22 {
    font-size: 1.375rem;
  }
}
